body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  color: white;
}

.main-color {
  background-color: black;
}

.input-color {
  color: black;
  background-color: #f5f5f5;
}

input:disabled {
  background: #f5f5f5;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.full-height {
  height: 100vh;
}

.break-word {
  word-wrap: break-word;
}

.outline-none {
  outline: none;
}

.border-none {
  border: none;
}

.s-alert-info {
  /* background: #75C7EA !important; */
  color: #fff !important;
}
